.layout {
  // Provide a visual cue that focus is on main content
  scroll-margin-block-start: calc(var(--offset) - var(--space-l));

  @media (min-width: 60rem) {
    display: grid;
    gap: 0 var(--gutter);
    grid-template-columns: 18rem 2fr;
  }
  @media (min-width: 80rem) {
    grid-template-columns: 18rem 2fr 1fr;
  }

  .sidebar {
    @media (min-width: 60rem) {
      grid-column: 1;
      grid-row: 1 / span 2;
      font-size: var(--step--1);
    }
    @media (max-width: 60rem) {
      display: none;
    }
    nav {
      // Small adjustment for focus visibility
      padding: 0.125rem;
    }
  }

  .table-of-contents {
    font-size: var(--step--1);
    @media (min-width: 60rem) {
      grid-column: 2;
      grid-row: 1;
    }
    @media (min-width: 80rem) {
      grid-column: 3;
      nav {
        border-inline-start: var(--color-grey-light) solid var(--border-thin);
      }
    }
    nav {
      // Small adjustment for focus visibility
      padding: 0.125rem;
    }
  }

  .content {
    min-height: calc(100vh - var(--offset));
    // padding: var(--space-3xs-2xs);
    @media (min-width: 60rem) {
      grid-column: 2;
      grid-row: 2;
    }
    @media (min-width: 80rem) {
      grid-row: 1;
    }
  }

  .content.page {
    @media (min-width: 80rem) {
      grid-column: 2 / span 3;
      max-width: 90ch;
    }
  }

  .sticky {
    position: sticky;
    top: calc(var(--offset) + var(--space-l));
    max-height: calc(100vh - var(--offset) + var(--space-l));
    overflow-y: auto;
  }
}
