.astro-code {
  position: relative;
  max-width: var(--measure);
  padding: var(--gutter);
  border-radius: var(--border-radius);
  button {
    position: absolute;
    right: var(--gutter);
    bottom: var(--gutter);
    border: var(--color-light) solid var(--border-thin);
    background-color: transparent;
    color: var(--color-light);
    &:is(:hover) {
      background-color: var(--color-light);
      color: var(--color-dark);
    }
  }
}
