.astro-code {
  position: relative;
  max-width: var(--measure);
  padding: var(--gutter);
  border-radius: var(--border-radius);
  button {
    position: absolute;
    right: var(--gutter);
    bottom: var(--gutter);
  }
}
