.current-page {
  [aria-current='page'] {
    display: block;
    border-inline-start: solid var(--border-thin);
    // border-radius: var(--border-radius);
    background-color: var(--color-grey-light);
    text-decoration: none;
  }
}

.pages.current-page {
  @media (min-width: 60rem) {
    [aria-current='page'] {
      border-inline-start: unset;
      // border-radius: unset;
      background-color: unset;
      text-decoration: underline;
      text-underline-offset: 0.5rem;
    }
  }
}

.pages {
  @media (max-width: 60rem) {
    li {
      a {
        padding-inline-start: calc(var(--space-m) + 0.55em);
      }
    }
  }
}
