.heading-anchor {
  a {
    text-decoration: none;
  }

  & :is(:hover, :focus) {
    text-decoration: solid underline 0.1rem;
    text-underline-offset: 0.35rem;
  }

  & :is(:hover, :focus):after {
    display: inline-block;
    width: 1em;
    height: 1em;
    background-image: url('/hash.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 60% auto;
    // alternative text rules
    content: '(heading anchor link)';
    overflow: hidden;
    white-space: nowrap;
    text-indent: 1em; // the width of the icon
  }
}
