.header {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  height: var(--offset);
  z-index: 2;
  --region-space-top: var(--space-s);
  --region-space-bottom: var(--space-s);
  background-color: var(--color-light);
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--gutter);
}

.navbar {
  @media (min-width: 60rem) {
    --nav-position: static;
    --nav-button-display: none;

    div {
      --nav-container-position: static;
      --nav-container-padding: 0;
      --nav-container-height: auto;
      --nav-container-width: 100%;
      --nav-container-transform: none;
      --nav-container-visibility: visible;
    }

    details {
      --nav-details-display: none;
    }

    ul {
      --nav-list-layout: row;
    }
  }

  position: var(--nav-position, fixed);
  inset-block-start: 1rem;
  inset-inline-end: 1rem;

  div {
    background: var(--color-light);
    height: var(--nav-container-height, 100vh);
    margin: 0;
    padding: var(--nav-container-padding, 2rem);
    position: var(--nav-container-position, fixed);
    inset-block-start: 0; /* Logical property. Equivalent to top: 0; */
    inset-inline-end: 0; /* Logical property. Equivalent to right: 0; */
    width: var(--nav-container-width, min(22rem, 100vw));
    visibility: var(--nav-container-visibility, visible);
  }

  details {
    display: var(--nav-details-display, flex);
    flex-wrap: wrap;
  }

  ul {
    display: flex;
    flex-direction: var(--nav-list-layout, column);
    flex-wrap: wrap;
  }

  @media (prefers-reduced-motion: no-preference) {
    [aria-expanded='true'] + div {
      transition: transform 0.6s cubic-bezier(0.68, -0.55, 0.27, 1.55),
        visibility 0.3s linear;
    }
  }

  [aria-expanded='false'] + div {
    transform: var(--nav-container-transform, translateX(100%));
    visibility: var(--nav-container-visibility, hidden);
  }

  /* Change border-color and color for the active page */
  [aria-current='page'] {
    --border-color: var(--color-highlight);
    --text-color: var(--color-highlight);
  }

  /* Reset button styling */
  button {
    all: unset;
    display: var(--nav-button-display, flex);
    position: relative;
    cursor: pointer;
    z-index: 1;
  }
}

.navbar-container {
  @media (min-width: 60rem) {
    display: flex;
    flex-direction: row;
  }
  flex-direction: column;
  gap: 1rem;
}
