.menu {
  --flow-space: var(--space-3xs-2xs);
  padding-block-end: var(--space-3xs-2xs);
  ul {
    li {
      a {
        padding-inline-start: calc(var(--space-m) + 0.55em);
      }
    }
    ul {
      li {
        a {
          padding-inline-start: var(--space-xl);
        }
      }
    }
  }
}
