.menu {
  --flow-space: var(--space-3xs-2xs);
  // Small adjustment for focus visibility
  padding: 0.125rem;
}

.menu.left {
  ul {
    li {
      a {
        padding-inline-start: calc(var(--space-m) + 0.55em);
      }
      a:is(:focus) {
        display: block;
      }
    }
    ul {
      li {
        a {
          padding-inline-start: var(--space-xl);
        }
      }
    }
  }
}

.menu.right {
  ul {
    li {
      padding-inline-start: calc(var(--space-m) + 0.55em);
    }
    ul {
      li {
        padding-inline-start: var(--space-xl);
      }
    }
  }
}
