.read-more {
  summary {
    padding-inline-start: var(--space-xs-s);
    padding-block: var(--space-xs-s);
    border-radius: var(--border-radius);
    background-color: var(--color-grey-light);
  }

  details[open] {
    summary {
      border-bottom-left-radius: unset;
      border-bottom-right-radius: unset;
    }
  }

  div {
    padding-inline: var(--gutter);
    padding-block: var(--space-xs-s);
    margin-block-start: 0;
    border: var(--border-thin) solid var(--color-grey-light);
    border-bottom-left-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
  }
}
