@font-face {
  font-family: system-ui;
  font-style: normal;
  font-weight: 300;
  src: local('.SFNSText-Light'), local('.HelveticaNeueDeskInterface-Light'),
    local('.LucidaGrandeUI'), local('Ubuntu Light'), local('Segoe UI Light'),
    local('Roboto-Light'), local('DroidSans'), local('Tahoma');
}

@font-face {
  font-family: Fira;
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src: url('/fonts/FiraMono-Regular.ttf');
}
