:root {
  --measure: 65ch;
  --gutter: var(--space-s-m);
  --offset: 5rem;

  --border-radius: 0.25rem;
  --border-thick: 0.5rem;
  --border-thin: 0.1rem;

  --color-dark: #000;
  --color-light: #f9f8f5;

  --color-grey-light: #dfdce3;
  --color-grey-med: #6e7b8e;
  --color-grey-dark: #1f3a42;
  --color-blue-light: #8acfd6;
  --color-blue-med: #71a7bd;
  --color-blue-dark: #48708d;
  --color-gold: #ffc107;
  --color-orange: #f7882f;
  --color-red: #fe491a;

  --color-callout-green: #8aff80;
  --color-callout-green-secondary: #457f40;
  --color-callout-yellow: #ffff80;
  --color-callout-yellow-secondary: #99994c;
  --color-callout-red: #ff9580;
  --color-callout-red-secondary: #7f4a40;
  --color-callout-cyan: #80ffea;
  --color-callout-cyan-secondary: #407f75;

  --font-base: Tahoma, system-ui;
  --font-mono: monospace, system-ui;

  // https://utopia.fyi/type/calculator?c=320,18,1.2,1240,20,1.25,5,2,&s=0.75%7C0.5%7C0.25,1.5%7C2%7C3%7C4%7C6,s-l%7Cl-2xl&g=s,l,xl,12

  --step--2: clamp(0.78rem, calc(0.77rem + 0.03vw), 0.8rem);
  --step--1: clamp(0.94rem, calc(0.92rem + 0.11vw), 1rem);
  --step-0: clamp(1.13rem, calc(1.08rem + 0.22vw), 1.25rem);
  --step-1: clamp(1.35rem, calc(1.28rem + 0.37vw), 1.56rem);
  --step-2: clamp(1.62rem, calc(1.5rem + 0.58vw), 1.95rem);
  --step-3: clamp(1.94rem, calc(1.77rem + 0.87vw), 2.44rem);
  --step-4: clamp(2.33rem, calc(2.08rem + 1.25vw), 3.05rem);
  --step-5: clamp(2.8rem, calc(2.45rem + 1.77vw), 3.82rem);

  --space-3xs: clamp(0.31rem, calc(0.31rem + 0vw), 0.31rem);
  --space-2xs: clamp(0.56rem, calc(0.54rem + 0.11vw), 0.63rem);
  --space-xs: clamp(0.88rem, calc(0.85rem + 0.11vw), 0.94rem);
  --space-s: clamp(1.13rem, calc(1.08rem + 0.22vw), 1.25rem);
  --space-m: clamp(1.69rem, calc(1.62rem + 0.33vw), 1.88rem);
  --space-l: clamp(2.25rem, calc(2.16rem + 0.43vw), 2.5rem);
  --space-xl: clamp(3.38rem, calc(3.24rem + 0.65vw), 3.75rem);
  --space-2xl: clamp(4.5rem, calc(4.33rem + 0.87vw), 5rem);
  --space-3xl: clamp(6.75rem, calc(6.49rem + 1.3vw), 7.5rem);

  // One-up pairs
  --space-3xs-2xs: clamp(0.31rem, calc(0.2rem + 0.54vw), 0.63rem);
  --space-2xs-xs: clamp(0.56rem, calc(0.43rem + 0.65vw), 0.94rem);
  --space-xs-s: clamp(0.88rem, calc(0.74rem + 0.65vw), 1.25rem);
  --space-s-m: clamp(1.13rem, calc(0.86rem + 1.3vw), 1.88rem);
  --space-m-l: clamp(1.69rem, calc(1.4rem + 1.41vw), 2.5rem);
  --space-l-xl: clamp(2.25rem, calc(1.73rem + 2.61vw), 3.75rem);
  --space-xl-2xl: clamp(3.38rem, calc(2.81rem + 2.83vw), 5rem);
  --space-2xl-3xl: clamp(4.5rem, calc(3.46rem + 5.22vw), 7.5rem);

  // Custom pairs
  --space-s-l: clamp(1.13rem, calc(0.65rem + 2.39vw), 2.5rem);
  --space-l-2xl: clamp(2.25rem, calc(1.29rem + 4.78vw), 5rem);
}
