---
import PageLayout from '../layouts/PageLayout.astro';
const pageTitle = 'Api Reference';
---

<PageLayout pageTitle={pageTitle}>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur in
    dolores inventore quae molestiae ab praesentium non ex temporibus, rerum
    optio tempora iste fugiat nam quos odit repudiandae laudantium fugit.
  </p>
</PageLayout>
