---
import PageLayout from '../layouts/PageLayout.astro';
const pageTitle = 'Contact';
const url = '/contact/';
---

<PageLayout pageTitle={pageTitle} url={url}>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias,
    consequatur! Eos ut quo modi nulla libero minima illum enim dolorum dolorem
    quod autem dolore id non facere, quia vero vitae!
  </p>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias,
    consequatur! Eos ut quo modi nulla libero minima illum enim dolorum dolorem
    quod autem dolore id non facere, quia vero vitae!
  </p>
</PageLayout>
