---
import PageLayout from '../layouts/PageLayout.astro';
import docs from '../data/docs.yaml';
const pageTitle = 'Home';
---

<PageLayout pageTitle={pageTitle}>
  <ul class="grid | docs" role="list">
    {
      docs.map((section) => {
        return (
          <li>
            <h2>{section.title}</h2>
            <ul role="list">
              {section.articles.map((article) => {
                return (
                  <li>
                    <a href={article.url}>{article.title}</a>
                  </li>
                );
              })}
            </ul>
          </li>
        );
      })
    }
  </ul>
</PageLayout>
