---
import PageLayout from '../layouts/PageLayout.astro';
const pageTitle = 'Home';
---

<PageLayout pageTitle={pageTitle}>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia aperiam
    reiciendis quos pariatur, deserunt repellendus quis impedit nisi, aspernatur
    asperiores odit sed harum in laborum, debitis architecto dolores modi
    nesciunt! <a href="/">Lorem ipsum</a> dolor sit amet consectetur adipisicing
    elit. <a href="/">Officia aperiam reiciendis</a> quos pariatur, deserunt repellendus
    quis impedit nisi, aspernatur asperiores odit sed harum in laborum, debitis architecto
    dolores modi nesciunt!
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia aperiam
    reiciendis quos pariatur, deserunt repellendus quis impedit nisi, aspernatur
    asperiores odit sed harum in laborum, debitis architecto dolores modi
    nesciunt!
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia aperiam
    reiciendis quos pariatur, deserunt repellendus quis impedit nisi, aspernatur
    asperiores odit sed harum in laborum, debitis architecto dolores modi
    nesciunt!
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia aperiam
    reiciendis quos pariatur, deserunt repellendus quis impedit nisi, aspernatur
    asperiores odit sed harum in laborum, debitis architecto dolores modi
    nesciunt!
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia aperiam
    reiciendis quos pariatur, deserunt repellendus quis impedit nisi, aspernatur
    asperiores odit sed harum in laborum, debitis architecto dolores modi
    nesciunt!
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia aperiam
    reiciendis quos pariatur, deserunt repellendus quis impedit nisi, aspernatur
    asperiores odit sed harum in laborum, debitis architecto dolores modi
    nesciunt!
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia aperiam
    reiciendis quos pariatur, deserunt repellendus quis impedit nisi, aspernatur
    asperiores odit sed harum in laborum, debitis architecto dolores modi
    nesciunt!
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia aperiam
    reiciendis quos pariatur, deserunt repellendus quis impedit nisi, aspernatur
    asperiores odit sed harum in laborum, debitis architecto dolores modi
    nesciunt!
  </p>
</PageLayout>
