---
const currentPath = Astro.url.pathname;
---

<details class="menu">
  <summary>Tutorial</summary>
  <ul role="list">
    <li>
      <a
        href="/docs/tutorial/"
        aria-current={`${currentPath === '/docs/tutorial/' ? 'page' : 'false'}`}
        >Tutorial</a
      >
    </li>
    <li>
      <a
        href="/docs/mdx/"
        aria-current={`${currentPath === '/docs/mdx/' ? 'page' : 'false'}`}
        >Mdx</a
      >
    </li>
  </ul>
</details>
<details>
  <summary>How-to</summary>
  <ul>
    <li><a href="/">sidebar</a></li>
  </ul>
</details>
<details>
  <summary>Explanation</summary>
  <ul>
    <li><a href="/">sidebar</a></li>
  </ul>
</details>
<details>
  <summary>Reference</summary>
  <ul>
    <li><a href="/">sidebar</a></li>
  </ul>
</details>
<details>
  <summary>Faq</summary>
  <ul>
    <li><a href="/">sidebar long title this is a kinda long title</a></li>
  </ul>
</details>
