<footer class="region">
  <nav class="wrapper">
    <ul role="list">
      <li><a href="/">Links</a></li>
      <li><a href="/">Links</a></li>
      <li><a href="/">Links</a></li>
    </ul>
  </nav>
</footer>
