---
import Navigation from './Navigation.astro';
---

<a href="#content" class="skip-link">Skip to content</a>

<header class="wrapper | region | header">
  <a href="/">Docs</a>
  <Navigation />
</header>
