---
// import DocsMenu from './DocsMenu.astro';
import PageMenu from './PageMenu.astro';
---

<header class="wrapper | region | header">
  <a href="/">Docs</a>
  <nav class="navbar">
    <!-- <DocsMenu /> -->
    <PageMenu />
    <p>Search</p>
  </nav>
</header>
