---
const currentPath = Astro.url.pathname;
import pages from '../data/pages.yaml';
---

<ul class="pages | current-page" role="list">
  {
    pages.map((page) => {
      return (
        <li>
          <a
            href={page.url}
            aria-current={`${currentPath === `${page.url}` ? 'page' : 'false'}`}
          >
            {page.title}
          </a>
        </li>
      );
    })
  }
</ul>
