---
const { headings } = Astro.props;
---

<details class="menu | right" id="table-of-contents">
  <summary>On this page</summary>
  <ul class="flow" role="list">
    {
      headings.map((heading) => {
        if (heading.depth === 2)
          return (
            <li>
              <a href={`#${heading.slug}`}>{heading.text}</a>
            </li>
          );
        if (heading.depth === 3)
          return (
            <ul role="list">
              <li>
                <a href={`#${heading.slug}`}>{heading.text}</a>
              </li>
            </ul>
          );
      })
    }
  </ul>
</details>
