---
import BaseLayout from './BaseLayout.astro';
import DocsMenu from '../components/DocsMenu.astro';
import TableOfContents from '../components/TableOfContents.astro';
import Help from '../components/Help.astro';
const { frontmatter, headings } = Astro.props;
const articleTitle = frontmatter.title;
// const pubDate = frontmatter.pubDate;
const description = frontmatter.description;
// const author = frontmatter.author;
// const tags = frontmatter.tags;

// function dateFormatter(dateToFormat) {
//   const rawDate = new Date(dateToFormat);
//   const date = rawDate.toLocaleDateString('en-us', {
//     year: 'numeric',
//     month: 'short',
//     day: 'numeric',
//   });
//   return date;
// }
---

<BaseLayout pageTitle={articleTitle}>
  <aside class="sidebar" id="sidebar">
    <nav class="sticky">
      <DocsMenu />
    </nav>
  </aside>
  <aside class="table-of-contents">
    <nav class="sticky">
      <TableOfContents headings={headings} />
    </nav>
  </aside>
  <article class="flow | prose | content">
    <h1>{articleTitle}</h1>
    <p>{description}</p>
    <slot />
    <Help />
  </article>
</BaseLayout>
