---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import '../styles/styles.scss';
const { pageTitle } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link
      rel="preload"
      href="/fonts/FiraMono-Regular.ttf"
      as="font"
      type="font/ttf"
      crossorigin
    />
    <script>
      // Empty script tag reduces Firefox FOUC bug: https://bugzilla.mozilla.org/show_bug.cgi?id=1404468
    </script>
    <title>{pageTitle}</title>
  </head>
  <body>
    <Header />
    <main>
      <slot />
    </main>
    <Footer />
  </body>
</html>
